## Deliverable 3. Create a Travel Itinerary Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [27]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Hambantota,LK,77.00,few clouds,6.1241,81.1185,Bungalow 63
1,3,Rikitea,PF,78.30,clear sky,-23.1203,-134.9692,Pension Maro'i
2,9,Vaini,TO,75.20,moderate rain,-21.2000,-175.2000,Keleti Beach Resort
3,10,Axim,GH,82.76,broken clouds,4.8699,-2.2405,AXIM BEACH RESORT AND SPA
4,17,Champerico,GT,82.40,clear sky,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""

In [28]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[(vacation_df["City"] == "Tamandare")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Tamandare")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Maragogi")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Maceio")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Camacari")]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip = gmaps.directions_layer(
    start, 
    end, 
    waypoints=[stop1,stop2,stop3],
    travel_mode="DRIVING")
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,549,Tamandare,BR,83.66,scattered clouds,-8.7597,-35.1047,Pousada 100 Passos
1,381,Maragogi,BR,82.92,broken clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
2,33,Maceio,BR,86.00,broken clouds,-9.6658,-35.7353,Hotel Ponta Verde Maceió
3,462,Camacari,BR,80.60,broken clouds,-12.6975,-38.3242,Sítio Blasi

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat      Lng
0  -8.7597 -35.1047
1  -9.0122 -35.2225
2  -9.6658 -35.7353
3 -12.6975 -38.3242

In [25]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
# 11b. Display the figure
fig = gmaps.figure(center=(-10.0, -35.0), zoom_level=6)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))